* {margin: 0;padding: 0;list-style: none}
html {
	height: 100%;
	font-size: 12px;
}
body {
	min-width: 320px;
	height: 100%;
	overflow-x: hidden;
	font-family: Verdana;
}

header {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #414141;	
	text-align: center;
	color: #FFF;	
}

section {
	height: 100%;
}

footer {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0,0,0,.6);	
	text-align: center;
	color: #FFF;
	text-align: center;
}

.view-container {	
	height: 100%;
	margin-bottom: 0;
}

.page-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}
.pageTop{
	margin-top: 44px;
}

#myNane{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width: 80%;
	height: 150px;
	text-align: center;
}
#myNane>h1{
	font:bold 40px "Open Sans";
	color: black;
}
p#welcome{
	font-size:20px;
}

#pageA{
	background:url("../img/ym.jpeg") 0px 10px;
	background-size: cover;
}
#pageB {
	/*background-color: #ECB43A;*/
}
a.leftIcon>img{
	width: 80px;
	height: 80px;
}
#pageC>.pageTop{
	padding: 15px ;
}
.infoText p{
	font-size:1.2rem;
	word-break:break-all;
	white-space:normal;
}
#pageD .jumbotron{
	padding-top: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#pageD #workImg{
	border: 2px solid #fff;
	font-size: 0;
	margin-bottom:3%;
}
/*#pageD .row{
	margin-top: 15px;
}*/
#pageD .imgDiv a{
	margin-bottom: 10px;
	padding: 2px;
	text-align: center;
	/*padding-bottom: 4rem;*/
	position: relative;
	text-decoration: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #fff;
}
#pageD .imgDiv p{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.333rem;
	margin: 0;
	padding: 0 10px;
	color: #333;
	display: flex;
    align-items: center;
    justify-content: center;
}
#pageD .col-xs-6{
	padding: 0 8px;
}

#pageD #showDiv{
	width: 0;
	height: 0;
	background:rgba(0,0,0,.9);
	z-index: 999;
	display: none;
	position: fixed;
	/*top:44px;*/
	top:0;
	left:0;
	/*vertical-align: middle;*/
	/*transform-origin:center;*/
	color: #fff;
}
#pageD #showDiv img{
	width: 100%;
	/*position: absolute;
	top:0;
	left: 0;
	bottom:0;
	right: 0;
	margin:auto;*/
}
#pageD .workInfo{
	visibility: hidden;
}
#pageD .showDivInfo{
	padding: 5%;
}
#pageD .showDivInfo{
	line-height: 2rem;
}
#pageE a{
	text-decoration: none;
}
#bolgs{
	/*background-color: blue;*/
	position: absolute;
	top:10%;
	height: 400px;
	/*min-height: 100%;*/
	border-right: 1px solid #333;
	/*z-index: 0;*/
}
#pageF .blogs{
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin:20%;
	text-align: center;
}
#pageF .more{
	border:1px solid #333;
	margin:5% 0;
	background: #fff;
}
#pageF .more a{
	padding: 5% 0;
	display: block;
	color: #000;
}
@-webkit-keyframes showIn{
	from{ -webkit-transform:scale(0); opacity:0;/*width: 0;height:0;*/}
		to{ -webkit-transform:scale(1); opacity:1;/*width: 100%;height:100%;*/}}
.showIn{-webkit-animation:showIn 250ms linear;}


@-webkit-keyframes sliderightout{from{-webkit-transform:translateX(0px);opacity:1}to{-webkit-transform:translateX(50%);opacity:0}}
@-webkit-keyframes slideleftin{from{-webkit-transform:translateX(-50%);opacity:0}to{-webkit-transform:translateX(0px);opacity:1}}
@-webkit-keyframes slideleftout{from{-webkit-transform:translateX(0px);opacity:1}to{-webkit-transform:translateX(-50%);opacity:0}}
@-webkit-keyframes sliderightin{from{-webkit-transform:translateX(50%);opacity:0}to{-webkit-transform:translateX(0px);opacity:1}}

.slideleftout{-webkit-animation:slideleftout 350ms ease-in-out;}
.slideleftin{-webkit-animation:slideleftin 350ms ease-in-out;}
.sliderightout{-webkit-animation:sliderightout 350ms ease-in-out;}
.sliderightin{-webkit-animation:sliderightin 350ms ease-in-out;}
.animatestart{position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;
	overflow-x:hidden;}
.page-container{-webkit-overflow-scrolling:touch;
	-webkit-backface-visibility:hidden;background-color:#f5f5f5}

@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:40px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}